body {
    font-family: "Poppins", Arial, sans-serif;
    margin: 0;
    background: #f7f7f7;
    color: #000000;
}

header {
    background: #584c72;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.2s ease;
}
nav a:hover {
    color: #ff1493;
}


hr {
  margin: 20px 0;
}

.hr3 {
  border: 0;
  height: 4px;
  background-image: linear-gradient(to right, transparent, #2d3164, transparent);  
}


main {
    padding: 20px;
    text-align: center;
}

.sub-banner {
    font-family: "Poppins", Arial, sans-serif;
    color: #904cb8;
    font-size: 50px;
}

section {
    margin-top: 20px;
}

section h2 {
    font-size: 26px;
    color: #2d3164;
    margin-bottom: 10px;
}

.cards {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(0,0,0,0.1);
    padding: 20px;
    max-width: 280px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-align: center;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.card img {
    max-width: 100%;
    border-radius: 200px;
    object-fit: cover;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .cards {
        max-width: 100%;
    }

    .card img {
        height: 150px;    
    }
}

@media (max-width: 480px) {
    .sub-banner {
        font-size: 40px;
    }

    .section h2 {
        font-size: 22px;
    }

    .card img {
        height: 120px;    
    }
}


footer {
    background: #584c72;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

button {
    background: #904cb8;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
}