body {
    font-family: "Poppins", Arial, sans-serif;
    margin: 0;
    background: #f7f7f7;
    color: #000000;
}

header {
    background: #584c72;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.2s ease;
}
nav a:hover {
    color: #ff1493;
}


h1 {
    font-family: "Poppins", Arial, sans-serif;
    color: #904cb8;
    font-size: 40px;
}

main {
    padding: 20px;
    text-align: center;
}

button {
    background: #904cb8;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
}

.btn-voltar {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: #904cb8;
    font-weight: bold;
}
.btn-voltar:hover {
    text-decoration: underline;
}
button:hover {
    background: #7a3fa3;
}
.login-container {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 40px auto;
}
.auth-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 100px;
}
.auth-box input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size:16px;
}
.auth-box button {
    background: #904cb8;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.2s;
}