body {
    font-family: "Poppins", Arial, sans-serif;
    margin: 0;
    background: #f7f7f7;
    color: #000000;
}

header {
    background: #584c72;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.2s ease;
}
nav a:hover {
    color: #ff1493;
}
nav a.ativo {
    border-bottom: 2px solid #3cc982;
}

hr {
  margin: 20px 0;
}

.hr3 {
  border: 0;
  height: 4px;
  background-image: linear-gradient(to right, transparent, #2d3164, transparent);  
}


main {
    padding: 20px;
    text-align: center;
}

.sub-banner {
    font-family: "Poppins", Arial, sans-serif;
    color: #904cb8;
    font-size: 50px;
}

section {
    margin-top: 20px;
}

section h2 {
    font-size: 26px;
    color: #2d3164;
    margin-bottom: 10px;
}

footer {
    background: #584c72;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

button {
    background: #904cb8;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
}



.sobre {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: left;
    line-height: 1.6;
    color: #333333;
}

.sobre h1 {
    text-align: center;
    color: #584c72;
    margin-bottom: 20px;
}

.sobre ul {
    margin-left: 20px;
    list-style-type: disc;
}
