body {
    font-family: "Poppins", Arial, sans-serif;
    margin: 0;
    background: #f7f7f7;
    color: #000000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #584c72;
    padding: 12px 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.2s ease;
}
nav a:hover {
    color: #ff1493;
}
nav a.ativo {
    border-bottom: 2px solid #3cc982;
}

hr {
  margin: 20px 0;
}

.hr3 {
  border: 0;
  height: 4px;
  background-image: linear-gradient(to right, transparent, #2d3164, transparent);  
}


main {
    padding: 20px;
    text-align: center;
};

.sub-banner {
    color: #c869ff;
    font-size: 50px;
}

section {
    margin-top: 20px;
}